<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>常用工具类</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="常用工具类,秒拍下载视频,下载秒拍视频工具类,下载秒拍chrunlee,程序员的百宝箱,李迅">
    {% include '../common/css.html' %}
</head>
<body>
    {% include '../common/header.html' %}
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-xm-2 col-md-2 col-lg-2">
                <a href="/other/miaopai">秒拍下载视频</a>
                <p class="help-block">填写一个秒拍URL，弹出视频的真正URL，可以下载</p>
            </div>
        </div>
    </div>
    {% include '../common/footer.html' %}
</body>
</html>