<link media="all" type="text/css" rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.min.css">
<link media="all" type="text/css" rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
<link media="all" type="text/css" rel="stylesheet" href="/css/base.css">
<link media="all" type="text/css" rel="stylesheet" href="/plugins/layer/skin/layer.css">
<link rel="shortcut icon" href="/favicon.ico"/>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/plugins/layer/layer.js"></script>
<!--[if lt IE 9]>
<script src="plugins/html5shiv/dist/html5shiv.min.js"></script>
<![endif]-->