<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Less 编译</title>
    <meta name="keywords" content="Less编译CSS,在线编译Less">
    {% include '../common/css.html' %}
</head>
<body>
    {% include '../common/header.html' %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <textarea name="input" class="form-control" style="height:500px;" placeholder="来点ying文试试..." spellcheck="false"></textarea>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <textarea name="output" class="form-control" placeholder="等待转化jieguo...." style="height:500px;" spellcheck="false"></textarea>
            </div>
        </div>
    </div>
    {% include '../common/footer.html' %}
</body>
</html>