<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>书写最快的UI框架</title>
	<link rel="stylesheet" type="text/css" href="/speedUI/css/speedUI.css">
	<style type="text/css">
		
		.t1{
			padding : 10px 20px;
		}
	</style>
</head>
<body>
	<div class="speed-head">
		<span>SpeedUI</span>
		<ul>
			<li>首页</li>
			<li>文档</li>
			<li>关于</li>
		</ul>
	</div>
	just for coder 
	追求极简风格，简约而不简单。
	<br />
	<ul>
		<li>参考layui ,默认风格暂定墨绿</li>
		<li>实现基本元素的样式</li>
		<li>实现基本组件的样式</li>
		<li>简单易用</li>
	</ul>
	<p>元素包括：label 、 输入框、下拉框、单选、复选、引用、行、代码、按钮、导航、菜单、tab、</p>
	<p>正常来讲，这些元素都有宽度问题，高度可以来设定，但是宽度很随意。同时，允许拆分。</p>
	<b>常用主色</b>
	<span class="t1" style="background-color:#009688;">#009688</span>
	<span class="t1" style="background-color:#5FB878;">#5FB878</span>
	<span class="t1" style="background-color:#393D49;">#393D49</span>
	<span class="t1" style="background-color:#1E9FFF;">#1E9FFF</span>
	<span class="t1" style="background-color:#fbfbfb;">#fbfbfb</span>
	<span class="t1" style="background-color:#f2f2f2;">#f2f2f2</span>
	<span class="t1" style="background-color:#eeeeee;">#eeeeee</span>
	<span class="t1" style="background-color:#e2e2e2;">#e2e2e2</span>
	<span class="t1" style="background-color:#dddddd;">#dddddd</span>
	<span class="t1" style="background-color:#d2d2d2;">#d2d2d2</span>
	<span class="t1" style="background-color:#c2c2c2;">#c2c2c2</span>
	<br /><br /><br />
	<div class="speed-main">
		<label for="">姓名：</label>	
		<blockquote>
			这里是一个引用。
			<p>如果引用里面有P标签呢？</p>
			<br />
			或者其他的<a>Baidu</a>
		</blockquote>
		<br />
		<blockquote>这是为什么呢？</blockquote>
		<form action="">
			<div class="row">
				<label for="">姓名:</label>
				<input type="text">
			</div>

		</form>
	</div>
	
</body>
</html>
<script type="text/javascript" src="/plugins/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/speedUI/speedUI.js"></script>