<!DOCTYPE html>
<html class="app">
<head>
    <meta charset="utf-8">
    <title>提示信息 - 程序员的百宝箱</title>
    <meta name="keywords" content="程序员的百宝箱,chrunlee,chrunleexun.com">
    <meta name="description" content="程序员的百宝箱,chrunlee,chrunleexun.com">
    {% include 'common/css.html' %}
</head>
<body>
    {% include 'common/header.html' %}
    <section class="main padder-v">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h3>{{title}}</h3><br />
                <h5>{{content}}</h5>
            </div>
        </div>
    </section>
    {% include 'common/footer.html' %}
</body>
</html>
